services:
  web:
    image: bryangerlach/openpilot-viewer:latest
    restart: unless-stopped
    environment:
      SECRET_KEY: ""
      CSRF_TRUSTED_ORIGINS: "http://localhost"
      C3X_IP: ""
      MIN_FREE: 100
    volumes:
      - /path/to/data/openpilot_viewer:/data
    ports:
      - "80:80"