services:
  web:
    image: openpilot-viewer:latest
    restart: unless-stopped
    entrypoint: ["/app/startup.sh"]
    environment:
      SECRET_KEY: ""
      CSRF_TRUSTED_ORIGINS: "http://localhost"
    volumes:
      - path/to/openpilot_viewer:/data
    ports:
      - "8999:80"

  cron:
    image: openpilot-viewer:latest
    restart: unless-stopped
    entrypoint: ["/app/startup_cron.sh"]
    depends_on:
      - web
    environment:
      C3X_IP: ""
      MIN_FREE: 100
    volumes:
      - path/to/openpilot_viewer:/data
